USE [master]
GO
/****** Object:  Database [WebAppYte]    Script Date: 5/20/2026 1:24:18 AM ******/
CREATE DATABASE [WebAppYte]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebAppYte', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WebAppYte.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebAppYte_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WebAppYte_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebAppYte].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebAppYte]
GO
/****** Object:  Table [dbo].[BenhAn]    Script Date: 5/20/2026 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhAn](
	[IDBenhAn] [int] IDENTITY(1,1) NOT NULL,
	[KetQua] [nvarchar](max) NULL,
	[ThoiGian] [smalldatetime] NULL,
	[BacSyKham] [nvarchar](50) NULL,
	[DonThuoc] [nvarchar](200) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[IDNguoiDung] [int] NULL,
	[IDLichKham] [int] NULL,
 CONSTRAINT [PK_BenhAn] PRIMARY KEY CLUSTERED 
(
	[IDBenhAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioiTinh]    Script Date: 5/20/2026 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioiTinh](
	[IDGioiTinh] [int] IDENTITY(1,1) NOT NULL,
	[GioiTinh] [nvarchar](6) NULL,
 CONSTRAINT [PK_GioiTinh] PRIMARY KEY CLUSTERED 
(
	[IDGioiTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoiDap]    Script Date: 5/20/2026 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoiDap](
	[IDHoidap] [int] IDENTITY(1,1) NOT NULL,
	[CauHoi] [nvarchar](max) NULL,
	[TraLoi] [nvarchar](max) NULL,
	[IDNguoiDung] [int] NULL,
	[IDQuanTri] [int] NULL,
	[NgayGui] [smalldatetime] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_HoiDap] PRIMARY KEY CLUSTERED 
(
	[IDHoidap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 5/20/2026 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[IDKhoa] [int] IDENTITY(1,1) NOT NULL,
	[TenKhoa] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[IDKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichKham]    Script Date: 5/20/2026 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichKham](
	[IDLichKham] [int] IDENTITY(1,1) NOT NULL,
	[ChuDe] [nvarchar](100) NULL,
	[MoTa] [nvarchar](300) NULL,
	[BatDau] [smalldatetime] NULL,
	[KetThuc] [smalldatetime] NULL,
	[TrangThai] [int] NULL,
	[ZoomInfo] [nvarchar](500) NULL,
	[KetQuaKham] [nvarchar](200) NULL,
	[IDNguoiDung] [int] NULL,
	[IDQuanTri] [int] NULL,
	[ZoomMeetingId] [nvarchar](50) NULL,
	[ZoomPasscode] [nvarchar](100) NULL,
 CONSTRAINT [PK_LichKham] PRIMARY KEY CLUSTERED 
(
	[IDLichKham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 5/20/2026 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[IDNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[Email] [nchar](100) NULL,
	[DienThoai] [nchar](20) NULL,
	[TaiKhoan] [nchar](50) NULL,
	[MatKhau] [nchar](20) NULL,
	[IDGioiTinh] [int] NULL,
	[DiaChiCuThe] [nvarchar](max) NULL,
	[SoCMND] [int] NULL,
	[IDTinh] [int] NULL,
	[NhomMau] [nchar](2) NULL,
	[ThongTinKhac] [nvarchar](max) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[IDNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKySucKhoe]    Script Date: 5/20/2026 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKySucKhoe](
	[IDNhatKy] [int] IDENTITY(1,1) NOT NULL,
	[IDNguoiDung] [int] NOT NULL,
	[NgayNhap] [smalldatetime] NULL,
	[NhietDo] [decimal](4, 1) NULL,
	[TrieuChung] [nvarchar](500) NULL,
	[MucDoMet] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNhatKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanTri]    Script Date: 5/20/2026 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanTri](
	[IDQuanTri] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nchar](50) NULL,
	[MatKhau] [nchar](20) NULL,
	[ThongTinBacSi] [nvarchar](max) NULL,
	[TrinhDo] [nvarchar](50) NULL,
	[IDKhoa] [int] NULL,
	[HoTen] [nvarchar](max) NULL,
	[VaiTro] [int] NULL,
	[AnhBia] [nchar](50) NULL,
	[ThongtinZoom] [nvarchar](100) NULL,
 CONSTRAINT [PK_QuanTri] PRIMARY KEY CLUSTERED 
(
	[IDQuanTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solieucovid]    Script Date: 5/20/2026 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solieucovid](
	[IDThongkecovid] [int] IDENTITY(1,1) NOT NULL,
	[Quocgia] [nvarchar](50) NULL,
	[Socanhiem] [int] NULL,
	[Dangdieutri] [int] NULL,
	[Khoi] [int] NULL,
	[Tuvong] [int] NULL,
	[Ghichu] [nchar](10) NULL,
 CONSTRAINT [PK_Solieucovid] PRIMARY KEY CLUSTERED 
(
	[IDThongkecovid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhThanh]    Script Date: 5/20/2026 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhThanh](
	[IDTinh] [int] IDENTITY(1,1) NOT NULL,
	[TenTinh] [nvarchar](30) NULL,
 CONSTRAINT [PK_TinhThanh] PRIMARY KEY CLUSTERED 
(
	[IDTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tintuc]    Script Date: 5/20/2026 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tintuc](
	[IDTintuc] [int] IDENTITY(1,1) NOT NULL,
	[Tieude] [nvarchar](max) NULL,
	[Noidung] [nvarchar](max) NULL,
	[Hinhanh] [nvarchar](100) NULL,
	[Mota] [nvarchar](max) NULL,
	[Ngaydang] [smalldatetime] NULL,
	[TheLoai] [nchar](20) NULL,
 CONSTRAINT [PK_Tintuc] PRIMARY KEY CLUSTERED 
(
	[IDTintuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrungTamGanNhat]    Script Date: 5/20/2026 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrungTamGanNhat](
	[IDTrungTam] [int] IDENTITY(1,1) NOT NULL,
	[TenTrungTam] [nvarchar](100) NULL,
	[Mota] [nvarchar](max) NULL,
	[IDTinh] [int] NULL,
 CONSTRAINT [PK_TrungTamGanNhat] PRIMARY KEY CLUSTERED 
(
	[IDTrungTam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BenhAn] ON 

INSERT [dbo].[BenhAn] ([IDBenhAn], [KetQua], [ThoiGian], [BacSyKham], [DonThuoc], [GhiChu], [IDNguoiDung], [IDLichKham]) VALUES (1, N'Bình thường                                                                                                                                                                                             ', CAST(N'2026-05-19T22:53:00' AS SmallDateTime), N'BS CK I Nguyễn Văn Hòa', N'Uống nhiều nước, nghỉ ngơi, theo dõi nhiệt độ', N'Tái khám sau 7 ngày nếu không giảm', 2, 13)
INSERT [dbo].[BenhAn] ([IDBenhAn], [KetQua], [ThoiGian], [BacSyKham], [DonThuoc], [GhiChu], [IDNguoiDung], [IDLichKham]) VALUES (2, N'Bệnh nhân đau đầu nhẹ và mệt mỏi.                                                                                                                                                                       ', CAST(N'2026-05-19T22:59:00' AS SmallDateTime), N'BS Kiệt', N'uống sting', N'Bệnh nhân đã được bác sĩ tư vấn. Cần tiếp tục theo dõi sức khỏe tại nhà.', 2006, 19)
SET IDENTITY_INSERT [dbo].[BenhAn] OFF
GO
SET IDENTITY_INSERT [dbo].[GioiTinh] ON 

INSERT [dbo].[GioiTinh] ([IDGioiTinh], [GioiTinh]) VALUES (1, N'Nam')
INSERT [dbo].[GioiTinh] ([IDGioiTinh], [GioiTinh]) VALUES (2, N'Nữ')
INSERT [dbo].[GioiTinh] ([IDGioiTinh], [GioiTinh]) VALUES (3, N'Khác')
SET IDENTITY_INSERT [dbo].[GioiTinh] OFF
GO
SET IDENTITY_INSERT [dbo].[HoiDap] ON 

INSERT [dbo].[HoiDap] ([IDHoidap], [CauHoi], [TraLoi], [IDNguoiDung], [IDQuanTri], [NgayGui], [GhiChu], [TrangThai]) VALUES (3010, N'Cách phòng tránh dịch bệnh Côvid tại nơi làm việc', N'Nên rửa tay sát khuẩn thường xuyên', 1, 3, CAST(N'2020-07-04T09:04:00' AS SmallDateTime), NULL, 1)
INSERT [dbo].[HoiDap] ([IDHoidap], [CauHoi], [TraLoi], [IDNguoiDung], [IDQuanTri], [NgayGui], [GhiChu], [TrangThai]) VALUES (3014, N'Cách phòng tránh dịch bệnh Côvid', N'Thanh hóa có 10 bệnh nhân nhiễm cô vid', 1, 2, CAST(N'2020-07-03T16:39:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[HoiDap] ([IDHoidap], [CauHoi], [TraLoi], [IDNguoiDung], [IDQuanTri], [NgayGui], [GhiChu], [TrangThai]) VALUES (3015, N'Vius lây bệnh qua người bằng con đường nào, thời gian lây bệnh đến phát bệnh trong thời gian bao lâu?', N'Virus này lây qua đường không khí, qua giọt bắn nước bọt, qua vật dụng, thời gian ủ bệnh là 14 ngày.', 1, 3, CAST(N'2020-07-03T17:17:00' AS SmallDateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[HoiDap] OFF
GO
SET IDENTITY_INSERT [dbo].[Khoa] ON 

INSERT [dbo].[Khoa] ([IDKhoa], [TenKhoa], [MoTa]) VALUES (1, N'Hô hấp', NULL)
INSERT [dbo].[Khoa] ([IDKhoa], [TenKhoa], [MoTa]) VALUES (2, N'Tai - Mũi - Họng', NULL)
INSERT [dbo].[Khoa] ([IDKhoa], [TenKhoa], [MoTa]) VALUES (3, N'Mắt', NULL)
SET IDENTITY_INSERT [dbo].[Khoa] OFF
GO
SET IDENTITY_INSERT [dbo].[LichKham] ON 

INSERT [dbo].[LichKham] ([IDLichKham], [ChuDe], [MoTa], [BatDau], [KetThuc], [TrangThai], [ZoomInfo], [KetQuaKham], [IDNguoiDung], [IDQuanTri], [ZoomMeetingId], [ZoomPasscode]) VALUES (2, N'khám bệnh', NULL, CAST(N'2020-07-06T11:16:00' AS SmallDateTime), CAST(N'2020-07-06T11:20:00' AS SmallDateTime), 2, N'https://us04web.zoom.us/j/78175005654?pwd=E7hJYyzu4mKQ5mpIJqjRVez4r1nEdT.1', NULL, 1, 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[LichKham] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([IDNguoiDung], [HoTen], [Email], [DienThoai], [TaiKhoan], [MatKhau], [IDGioiTinh], [DiaChiCuThe], [SoCMND], [IDTinh], [NhomMau], [ThongTinKhac]) VALUES (1, N'Dương Tuấn Kiệt', N'kiet04uh@gmail.com                                                                                  ', N'0967606244          ', N'DuongTuanKiet1                                    ', N'123456              ', 1, N'Bình Khánh, Tân Hiệp, Tp Hồ Chí Minh', NULL, 1, NULL, NULL)
INSERT [dbo].[NguoiDung] ([IDNguoiDung], [HoTen], [Email], [DienThoai], [TaiKhoan], [MatKhau], [IDGioiTinh], [DiaChiCuThe], [SoCMND], [IDTinh], [NhomMau], [ThongTinKhac]) VALUES (2, N'Bệnh nhân', NULL, NULL, N'benhnhan                                          ', N'123456              ', 1, NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[NguoiDung] ([IDNguoiDung], [HoTen], [Email], [DienThoai], [TaiKhoan], [MatKhau], [IDGioiTinh], [DiaChiCuThe], [SoCMND], [IDTinh], [NhomMau], [ThongTinKhac]) VALUES (1003, N'Dương Tuấn Kiệt', N'kiet04uh@gmail.com                                                                                  ', N'0967606244          ', N'admin                                             ', NULL, 1, N'Bình Khánh, Tân Hiệp, Tp Hồ Chí Minh', NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[NhatKySucKhoe] ON 

INSERT [dbo].[NhatKySucKhoe] ([IDNhatKy], [IDNguoiDung], [NgayNhap], [NhietDo], [TrieuChung], [MucDoMet], [GhiChu]) VALUES (1, 2006, CAST(N'2026-05-19T23:34:00' AS SmallDateTime), CAST(39.0 AS Decimal(4, 1)), N'ho', 8, N'mắc ói quá bs oi')
SET IDENTITY_INSERT [dbo].[NhatKySucKhoe] OFF
GO
SET IDENTITY_INSERT [dbo].[QuanTri] ON 

INSERT [dbo].[QuanTri] ([IDQuanTri], [TaiKhoan], [MatKhau], [ThongTinBacSi], [TrinhDo], [IDKhoa], [HoTen], [VaiTro], [AnhBia], [ThongtinZoom]) VALUES (2, N'admin                                             ', N'123456              ', NULL, N'', 7, N'Dương Tuấn Kiệt', 1, NULL, N'https://us04web.zoom.us/j/78175005654?pwd=E7hJYyzu4mKQ5mpIJqjRVez4r1nEdT.1')
INSERT [dbo].[QuanTri] ([IDQuanTri], [TaiKhoan], [MatKhau], [ThongTinBacSi], [TrinhDo], [IDKhoa], [HoTen], [VaiTro], [AnhBia], [ThongtinZoom]) VALUES (3, N'Bacsy                                             ', N'123456              ', N'Đang làm việc tại bệnh viện Đa khoa Tỉnh Thanh Hóa', N'Thạc sỹ', 6, N'BS CK I Nguyễn Văn Hòa', 2, NULL, N'https://us04web.zoom.us/j/78175005654?pwd=E7hJYyzu4mKQ5mpIJqjRVez4r1nEdT.1')
INSERT [dbo].[QuanTri] ([IDQuanTri], [TaiKhoan], [MatKhau], [ThongTinBacSi], [TrinhDo], [IDKhoa], [HoTen], [VaiTro], [AnhBia], [ThongtinZoom]) VALUES (4, N'Bacsy2                                            ', N'123456              ', N'Đang làm việc tại bệnh viện Đa khoa Tỉnh Thanh Hóa', N'Thạc Sỹ', 1, N'BS Hoa', 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[QuanTri] OFF
GO
SET IDENTITY_INSERT [dbo].[Solieucovid] ON 

INSERT [dbo].[Solieucovid] ([IDThongkecovid], [Quocgia], [Socanhiem], [Dangdieutri], [Khoi], [Tuvong], [Ghichu]) VALUES (1, N'VIỆT NAM', 335, 25, 330, 0, NULL)
INSERT [dbo].[Solieucovid] ([IDThongkecovid], [Quocgia], [Socanhiem], [Dangdieutri], [Khoi], [Tuvong], [Ghichu]) VALUES (2, N'THẾ GIỚI', 10248232, 4187331, 5556439, 504462, NULL)
SET IDENTITY_INSERT [dbo].[Solieucovid] OFF
GO
SET IDENTITY_INSERT [dbo].[TinhThanh] ON 

INSERT [dbo].[TinhThanh] ([IDTinh], [TenTinh]) VALUES (1, N'Thanh Hóa')
INSERT [dbo].[TinhThanh] ([IDTinh], [TenTinh]) VALUES (2, N'Hà Nội')
INSERT [dbo].[TinhThanh] ([IDTinh], [TenTinh]) VALUES (3, N'Hồ Chí Minh')
SET IDENTITY_INSERT [dbo].[TinhThanh] OFF
GO
SET IDENTITY_INSERT [dbo].[Tintuc] ON 

SET IDENTITY_INSERT [dbo].[Tintuc] OFF
GO
SET IDENTITY_INSERT [dbo].[TrungTamGanNhat] ON 

SET IDENTITY_INSERT [dbo].[TrungTamGanNhat] OFF
GO
ALTER TABLE [dbo].[HoiDap] ADD  CONSTRAINT [DF_HoiDap_NgayGui]  DEFAULT (getdate()) FOR [NgayGui]
GO
ALTER TABLE [dbo].[HoiDap] ADD  CONSTRAINT [DF_HoiDap_TrangThai]  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhatKySucKhoe] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[Tintuc] ADD  CONSTRAINT [DF_Tintuc_Ngaydang]  DEFAULT (getdate()) FOR [Ngaydang]
GO
ALTER TABLE [dbo].[BenhAn]  WITH CHECK ADD  CONSTRAINT [FK_BenhAn_LichKham] FOREIGN KEY([IDLichKham])
REFERENCES [dbo].[LichKham] ([IDLichKham])
GO
ALTER TABLE [dbo].[BenhAn] CHECK CONSTRAINT [FK_BenhAn_LichKham]
GO
ALTER TABLE [dbo].[BenhAn]  WITH CHECK ADD  CONSTRAINT [FK_BenhAn_NguoiDung] FOREIGN KEY([IDNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IDNguoiDung])
GO
ALTER TABLE [dbo].[BenhAn] CHECK CONSTRAINT [FK_BenhAn_NguoiDung]
GO
ALTER TABLE [dbo].[HoiDap]  WITH CHECK ADD  CONSTRAINT [FK_HoiDap_NguoiDung] FOREIGN KEY([IDNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IDNguoiDung])
GO
ALTER TABLE [dbo].[HoiDap] CHECK CONSTRAINT [FK_HoiDap_NguoiDung]
GO
ALTER TABLE [dbo].[HoiDap]  WITH CHECK ADD  CONSTRAINT [FK_HoiDap_QuanTri] FOREIGN KEY([IDQuanTri])
REFERENCES [dbo].[QuanTri] ([IDQuanTri])
GO
ALTER TABLE [dbo].[HoiDap] CHECK CONSTRAINT [FK_HoiDap_QuanTri]
GO
ALTER TABLE [dbo].[LichKham]  WITH CHECK ADD  CONSTRAINT [FK_LichKham_NguoiDung] FOREIGN KEY([IDNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IDNguoiDung])
GO
ALTER TABLE [dbo].[LichKham] CHECK CONSTRAINT [FK_LichKham_NguoiDung]
GO
ALTER TABLE [dbo].[LichKham]  WITH CHECK ADD  CONSTRAINT [FK_LichKham_QuanTri] FOREIGN KEY([IDQuanTri])
REFERENCES [dbo].[QuanTri] ([IDQuanTri])
GO
ALTER TABLE [dbo].[LichKham] CHECK CONSTRAINT [FK_LichKham_QuanTri]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_GioiTinh] FOREIGN KEY([IDGioiTinh])
REFERENCES [dbo].[GioiTinh] ([IDGioiTinh])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_GioiTinh]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_TinhThanh] FOREIGN KEY([IDTinh])
REFERENCES [dbo].[TinhThanh] ([IDTinh])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_TinhThanh]
GO
ALTER TABLE [dbo].[NhatKySucKhoe]  WITH CHECK ADD  CONSTRAINT [FK_NhatKySucKhoe_NguoiDung] FOREIGN KEY([IDNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IDNguoiDung])
GO
ALTER TABLE [dbo].[NhatKySucKhoe] CHECK CONSTRAINT [FK_NhatKySucKhoe_NguoiDung]
GO
ALTER TABLE [dbo].[QuanTri]  WITH CHECK ADD  CONSTRAINT [FK_QuanTri_Khoa] FOREIGN KEY([IDKhoa])
REFERENCES [dbo].[Khoa] ([IDKhoa])
GO
ALTER TABLE [dbo].[QuanTri] CHECK CONSTRAINT [FK_QuanTri_Khoa]
GO
ALTER TABLE [dbo].[TrungTamGanNhat]  WITH CHECK ADD  CONSTRAINT [FK_TrungTamGanNhat_TinhThanh] FOREIGN KEY([IDTinh])
REFERENCES [dbo].[TinhThanh] ([IDTinh])
GO
ALTER TABLE [dbo].[TrungTamGanNhat] CHECK CONSTRAINT [FK_TrungTamGanNhat_TinhThanh]
GO
USE [master]
GO
